
  .middle-container {
    
    
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .bottom-main{
    padding: 20px;
  }
  .bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

