<nav>
  <ul>
    <li class="logo">EAZYLife</li>
    <li class="search-icon">
      <input type="search" placeholder="Search" />
      <label class="icon"><span class="fas fa-search"></span></label>
    </li>
    <div class="items">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </div>
  </ul>
</nav>

<!-- Profile card start-->
<!-- <div class="card">
  <div class="card-image">
    <img src="easy-life\asset\123.jpg" alt="" />
  </div>
  <div class="profile-image">
    <img src="easy-life\asset\2.png" alt="" />
  </div>
  <div class="card-content">
    <h3>Andrea Joe</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </p>
  </div>
  <div class="icons">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-youtube"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-whatsapp"></a>
  </div>
</div> -->
<!--Profile card end -->
