<nav class="navbar navbar-dark" style="background-color: #2d2674">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="/home">EAZYLife.</a>
    </div>

    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control form-inline mr-sm-2"
        style="width: 550px"
        placeholder="What services are you looking for today ?"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i> Search
      </button>
    </form>

    <div class="headerMenu">
      <ul class="navbar-nav flex-row" style="margin-right: 10px">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><i class="fa-regular fa-bell" style="font-size: 24px"></i
          ></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><i class="fa-regular fa-envelope" style="font-size: 24px"></i
          ></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            ><i class="fa-solid fa-list" style="font-size: 24px"></i
          ></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/landingpage">Orders</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Switch to Selling</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isLogin()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa-regular fa-circle" style="font-size: 40px"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Post Request</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Setting</a>
            <a class="dropdown-item" href="#">Help</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
