.menu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    a{
        font-size: 18px;
        text-decoration: dashed;
        
     
    }

 
    
}
hr{
    margin: 5px;
}
