.main-container{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
.pictureBox1{
   img{
    width: 750px;
    height: 400px;
    border-radius: 3% 0 0 3%;
   }
    
}
.pictureBox2{
    img{
     width: 1175px;
     height: 400px;
     border-radius: 0 3% 3% 0;
    }
     
 }
}