<div class="headerLanding">
  <nav class="navbar navbar-dark" style="background-color: #2d2674">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo" routerLink="/home">EAZYLife.</a>
      </div>

      <div class="headerMenu">
        <ul class="navbar-nav flex-row" style="margin-right: 10px">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Explore</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/signup">Become a Buyer</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Become a Seller</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Language
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">Sinhala</a>
              <a class="dropdown-item" href="#">Tamil</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div
  class="container-flid d-flex flex-row"
  style="margin-top: 75px; margin-bottom: 75px"
>
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center"
  >
    <div><h2 class="SearchHeader">Find The Best Fit For Your Work</h2></div>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control custom-width"
            placeholder="Search..."
          />
          <div class="input-group-append">
            <button type="submit" class="btn" style="color: rgb(255, 255, 255)">
              Search
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="verticle-line"></div>

  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center"
  >
    <div style="padding: 15px">
      <h3 style="color: #2d2674">As a Seller</h3>
      <p>
        Unlock new opportunities to sell your products or services to a global
        audience. Join our platform and start reaching more customers today.
      </p>
      <a href="#" class="btn" routerLink="/home">Sell Now</a>
    </div>
    <div style="padding: 15px">
      <h3 style="color: #2d2674">As a Buyer</h3>
      <p>
        Discover exciting opportunities to purchase products or services from a
        diverse global marketplace. Join our platform today and begin exploring
        a world of choices to meet your needs.
      </p>
      <a href="#" class="btn" routerLink="/home">Buy Now</a>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer">
  <div class="my-5">
    <!-- Footer -->
    <footer
      class="text-center text-lg-start text-white align"
      style="background-color: #1c2331"
    >
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-between p-4"
        style="background-color: #2d2674"
      >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3 align-items-start">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="#!" class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-white">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-white">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-3 container-fluid"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
          >MDBootstrap.com</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
</div>
