// Header
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  justify-content: center;
  align-items: center;
}


.logo {
  font-size: 35px; /* Add custom styles to logo EASYLife */
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
}

.nav-item {
  margin: 10px; /* Add space between nav-bar menu items */
}

.dropdown-menu {
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Adjust the top position */
  left: -110px; /* Adjust the left position */
}

.btn {
  background-color: #2d2674; /* Font and search icon color */
  color: aliceblue;
}

.btn.btn-outline-success:hover {
  background-color: #31b6c8; /* Hover  */
}

// Content after Header

.custom-width {
  width: 450px;
}

.verticle-line {
  width: 1px;
  height: 450px;
  background-color: #2d2674;
  margin-right: 50px;
}

.SearchHeader {
  color: #2d2674;
  padding-bottom: 10px;
  margin-left: -72px;
}

